*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount {
  margin-top: 10px;
  width: 300px;
}

.header-text {
  font-size: 40px;
  font-weight: bold;
}

.courses {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 50px;
}

.course {
  margin: 40px;
  width: 320px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 30px #dfdfdf;
  border-radius: 10px;
}

.course-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #000;
}

.course-info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 20px;
  width: 100%;
  height: 130px;
}

.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.buy {
  padding: 15px 90px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  outline: 0;
  background-color: #0077ff;
  color: white;
  border-radius: 5px;
}

.dicount-part {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.apply-discount {
  margin-top: 20px;
  padding: 15px 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  outline: 0;
  background-color: #0077ff;
  color: white;
  border-radius: 5px;
}